name: Example Tests

on:
  push:
    branches:
      - 'main'
    paths: ['lib/**.ri', 'rivetc/**.py', 'examples/**']
  pull_request:
    paths: ['lib/**.ri', 'rivetc/**.py', 'examples/**']
    types: [opened, synchronize]

jobs:
  ubuntu-clang:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run examples
        run: |
          python3 examples/run_examples.py

  ubuntu-gcc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run examples
        run: |
          python3 examples/run_examples.py
