name: Tests

on:
  push:
    paths: ['lib/**.ri', 'src/**.py', 'tests/**']
    branches: [main]
  pull_request:
    paths: ['lib/**.ri', 'src/**.py', 'tests/**']
    types: [opened, synchronize]

jobs:
  ubuntu-clang:
    runs-on: ubuntu-latest
    env:
      RIVET_CC_TEST: clang
    steps:
      - uses: actions/checkout@v2

      - name: Run passing tests
        run: |
          python3 rivetc.py tests/valid

      - name: Run failing tests
        run: |
          python3 tests/run_failing_tests.py

  ubuntu-gcc:
    runs-on: ubuntu-latest
    env:
      RIVET_CC_TEST: gcc
    steps:
      - uses: actions/checkout@v2

      - name: Run passing tests
        run: |
          python3 rivetc.py tests/valid

      - name: Run failing tests
        run: |
          python3 tests/run_failing_tests.py

  windows-gcc:
    runs-on: windows-2019
    env:
      RIVET_CC_TEST: gcc
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run passing tests
        run: |
          python3 rivetc.py tests/valid

      - name: Run failing tests
        run: |
          python3 tests/run_failing_tests.py
